In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('pokemon_data.csv')

In [3]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [37]:
df.isnull().sum()
df.isnull().sum().sum()
df.isnull().any()
df.isnull().any()

#             False
Name          False
Type 1        False
Type 2         True
HP            False
Attack        False
Defense       False
Sp. Atk       False
Sp. Def       False
Speed         False
Generation    False
Legendary     False
dtype: bool

### data cleaning and transformation

In [33]:
print (df.isna().any(axis=1))  # returns rows with any with any value being negative

print (df.isna().any(axis=1))  # axis 1 for rows and 0 for columns

print (df[df.isna().any(axis=1)])

print (df[df.isna().all(axis=1)])

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []

In [36]:
# saving all possible index of type2 to genrate random type for nan and future cards

idx_Type2=[]

row_Of_Dataframe=len(df.index)

print(row_Of_Dataframe)

800

In [74]:
for i in range (0,800):
    if(pd.notnull(df.iloc[i,3])):
        idx_Type2.append(i)

In [83]:
# randomly filled all the values of type2 using other ranndom values
import random
df.loc[(pd.isnull(df["Type 2"])), ['Type 2']] = df.iloc[random.choice(idx_Type2),3]

In [84]:
df.isna().any()

#             False
Name          False
Type 1        False
Type 2        False
HP            False
Attack        False
Defense       False
Sp. Atk       False
Sp. Def       False
Speed         False
Generation    False
Legendary     False
dtype: bool

###### finally data transformation is done now lets generate pokemon

# Run next cell to generate a new pokemon

In [88]:
def poki_gen():
    print("enter name of pokemon")
    name=input()
    print()

    type_1_of_New_Pokemon=df.iloc[random.randrange(800),2]

    type_2_of_New_Pokemon=df.iloc[random.randrange(800),3]

    hp_of_New_Pokemon=df.iloc[random.randrange(800),4]

    attack_of_New_Pokemon=df.iloc[random.randrange(800),5]

    defense_of_New_Pokemon=df.iloc[random.randrange(800),6]

    sp_Atk_of_New_Pokemon=df.iloc[random.randrange(800),7]

    sp_Def_of_New_Pokemon=df.iloc[random.randrange(800),8]

    Speed_of_New_Pokemon=df.iloc[random.randrange(800),9]

    generatiob_of_New_Pokemon=df.iloc[random.randrange(800),10]

    legendary_of_New_Pokemon=df.iloc[random.randrange(800),11]

    print(name+" "+type_1_of_New_Pokemon+" "+type_2_of_New_Pokemon+" "+str(hp_of_New_Pokemon)+" "+str(attack_of_New_Pokemon)+" "+str(defense_of_New_Pokemon)
         +" "+str(sp_Atk_of_New_Pokemon)+" "+str(Speed_of_New_Pokemon)+" "+str(generatiob_of_New_Pokemon)+" "+str(legendary_of_New_Pokemon))
    print("1 to save and 2 to regenrate")
    choice=input()
    if(choice=="1"):
        row=len(df.index)
        df.loc[len(df.index)]=[row,name,type_1_of_New_Pokemon,type_2_of_New_Pokemon,hp_of_New_Pokemon,attack_of_New_Pokemon,
                              defense_of_New_Pokemon,sp_Atk_of_New_Pokemon,sp_Def_of_New_Pokemon,Speed_of_New_Pokemon,
                              generatiob_of_New_Pokemon,legendary_of_New_Pokemon]
        return
    else:
        poki_gen()
        
poki_gen()

enter name of pokemon
tushar

tushar Dragon Flying 95 120 55 110 71 2 False
1 to save and 2 to regenrate
2
enter name of pokemon
rajan

rajan Normal Flying 78 90 30 40 100 6 False
1 to save and 2 to regenrate
1

In [89]:
df.tail(1)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
800,800,rajan,Normal,Flying,78,90,30,40,138,100,6,False

In [ ]:
#task 1 to add give user a choice to what level they want pokimon to be

#task 2 use some phonetic naming db to mix names and genrate pokimon names